.page {
    position: absolute;
}

.front {
    position: relative;
    z-index: 0;
}

.cover {
    position: relative;
    z-index: 0;

}

.name {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 30%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 46px;
    font-style: oblique;
}

.birthDate {
    position: absolute;
    text-align: center;
    left: 23%;
    top: 35%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 46px;
    font-style: oblique;
}

.birthPlace {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 35%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 46px;
    font-style: oblique;
}

.pesel {
    position: absolute;
    text-align: center;
    left: 77%;
    top: 35%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 46px;
    font-style: oblique;
}

.schoolName {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 43%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 46px;
    font-style: oblique;
}

.schoolNumber {
    position: absolute;
    text-align: center;
    left: 21%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 46px;
    font-style: oblique;
}

.schoolPatron {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 46px;
    font-style: oblique;
}

.schoolCity {
    position: absolute;
    text-align: center;
    left: 20%;
    top: 57%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 46px;
    font-style: oblique;
}

.schoolProvince {
    position: absolute;
    text-align: center;
    left: 60%;
    top: 57%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 46px;
    font-style: oblique;
}

.behaviour {
    position: absolute;
    text-align: left;
    left: 62%;
    top: 10.5%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
}

.physics {
    position: absolute;
    text-align: left;
    left: 62%;
    top: 38%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
}

.mathematics {
    position: absolute;
    text-align: left;
    left: 62%;
    top: 40%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
}

.biology {
    position: absolute;
    text-align: left;
    left: 62%;
    top: 34%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
}

.chemistry {
    position: absolute;
    text-align: left;
    left: 62%;
    top: 36%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
}

.technology {
    position: absolute;
    text-align: left;
    left: 62%;
    top: 42%;
    z-index: 1;
    transform: translate(-50%, 0%);
    font-family: "Times New Roman", serif;
    font-size: 30px;
    font-style: oblique;
}
